* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif; }

.div__containerPokemon {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }
  .div__containerPokemon .div__cardPokemon {
    width: 225px;
    height: 450px;
    background-color: grey;
    border: 2px solid black; }
    .div__containerPokemon .div__cardPokemon .div__imgPokemon {
      width: 100%;
      height: 50%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      background-color: #CE403D;
      border-bottom: 1px solid black; }
      .div__containerPokemon .div__cardPokemon .div__imgPokemon h1 {
        margin-top: 5px;
        margin-bottom: 2px;
        text-transform: capitalize;
        height: 30px;
        text-align: center;
        min-width: 200px;
        max-width: 210px;
        font-size: 150%;
        line-height: 1.2rem; }
      .div__containerPokemon .div__cardPokemon .div__imgPokemon .div__borderImgPokemon {
        border: 1px solid silver;
        width: 165px;
        height: 165px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(140deg, #e6e6e6, #aaaaaa); }
        .div__containerPokemon .div__cardPokemon .div__imgPokemon .div__borderImgPokemon .div__boxProfilePokemon {
          width: 150px;
          height: 150px;
          background-color: #e6e6e6;
          border-radius: 5%;
          border: 1px solid silver; }
          .div__containerPokemon .div__cardPokemon .div__imgPokemon .div__borderImgPokemon .div__boxProfilePokemon img {
            width: 100%;
            overflow: hidden; }
    .div__containerPokemon .div__cardPokemon .div__goPokedex {
      width: 36px;
      height: 36px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      background-color: gainsboro;
      border: 1px solid black;
      border-radius: 50%; }
      .div__containerPokemon .div__cardPokemon .div__goPokedex a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .div__containerPokemon .div__cardPokemon .div__goPokedex a .btn__goPokedex {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid black;
          cursor: pointer; }
    .div__containerPokemon .div__cardPokemon .div__infoPokemon {
      width: 100%;
      height: 50%;
      background-color: gainsboro;
      border-top: 1px solid black;
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 3fr, repeat(5, 1fr);
      grid-template-areas: "title title" "type type_name" "height height_num" "hp hp_num" "attack attack_num" "defense defense_num"; }
      .div__containerPokemon .div__cardPokemon .div__infoPokemon .title_id {
        grid-area: title; }
      .div__containerPokemon .div__cardPokemon .div__infoPokemon .type {
        grid-area: type; }
      .div__containerPokemon .div__cardPokemon .div__infoPokemon .type_name {
        grid-area: type_name; }
      .div__containerPokemon .div__cardPokemon .div__infoPokemon .height {
        grid-area: height; }
      .div__containerPokemon .div__cardPokemon .div__infoPokemon .height_num {
        grid-area: height_num; }
      .div__containerPokemon .div__cardPokemon .div__infoPokemon .hp {
        grid-area: hp; }
      .div__containerPokemon .div__cardPokemon .div__infoPokemon .hp_num {
        grid-area: hp_num; }
      .div__containerPokemon .div__cardPokemon .div__infoPokemon .attack {
        grid-area: attack; }
      .div__containerPokemon .div__cardPokemon .div__infoPokemon .attack_num {
        grid-area: attack_num; }
      .div__containerPokemon .div__cardPokemon .div__infoPokemon .defense {
        grid-area: defense; }
      .div__containerPokemon .div__cardPokemon .div__infoPokemon .defense_num {
        grid-area: defense_num; }
