.div__containerPokemon{
    //background-image: url('/src/images/water.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    .div__cardPokemon{
        width: 225px;
        height: 450px;
        // border-radius: 10px;
        background-color: grey;
        border: 2px solid rgb(0, 0, 0);
        .div__imgPokemon{
            width: 100%;
            height: 50%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            background-color: #CE403D;
            border-bottom: 1px solid rgb(0, 0, 0);
            h1{
                margin-top: 5px;
                margin-bottom: 2px;
                text-transform: capitalize;
                height: 30px;
                text-align: center;
                min-width: 200px;
                max-width: 210px;
                font-size: 150%;
                line-height: 1.2rem;
            }
            .div__borderImgPokemon{
                border: 1px solid silver;
                width: 165px;
                height: 165px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: linear-gradient(140deg, rgb(230, 230, 230), rgb(170, 170, 170));
                .div__boxProfilePokemon{
                    width: 150px;
                    height: 150px;
                    background-color: rgb(230, 230, 230);
                    border-radius: 5%;
                    border: 1px solid silver;
                    img{
                        width: 100%;
                        overflow: hidden;
                    }
                }
            }
        }
        .div__goPokedex{
            width: 36px;
            height: 36px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            background-color: rgb(220, 220, 220);
            border: 1px solid rgb(0, 0, 0);
            border-radius: 50%;
            a{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;                
                .btn__goPokedex{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid rgb(0, 0, 0);
                    cursor: pointer;
                }
            }
        }
        .div__infoPokemon{
            width: 100%;
            height: 50%;
            background-color: rgb(220, 220, 220);
            border-top: 1px solid rgb(0, 0, 0);
            text-align: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 3fr, repeat(5, 1fr);
            grid-template-areas:
            "title title"
            "type type_name"
            "height height_num"
            "hp hp_num"
            "attack attack_num"
            "defense defense_num";
            .title_id{
                grid-area: title;
            }
            .type{
                grid-area: type;
            }
            .type_name{
                grid-area: type_name
            }
            .height{
                grid-area: height;
            }
            .height_num{
                grid-area: height_num;
            }
            .hp{
                grid-area: hp;
            }
            .hp_num{
                grid-area: hp_num;
            }
            .attack{
                grid-area: attack;
            }
            .attack_num{
                grid-area: attack_num;
            }
            .defense{
                grid-area: defense;
            }
            .defense_num{
                grid-area: defense_num;
            }
        }
    }
}